.app-card__paragraph-subtitle {
    margin: 0 0 43px 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    color: #000000;

    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .app-card__paragraph-subtitle {
        font-size: 14px;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 470px) {
    .app-card__paragraph-subtitle {
        font-size: 12px;
        margin-bottom: 18px;
    }
}
