.header__content-title {
    padding-top: 40px;
    margin: 0 0 31px 0;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;

    color: #000000;

    opacity: 0.85;
}

@media screen and (max-width: 768px) {
    .header__content-title {
        margin-left: auto;
        width: 200px;
    }
}
