.header__input {
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-sizing: border-box;
    border-radius: 50px;
    width: 90%;
    height: 52px;
    padding-left: 44px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.header__input::placeholder {
    color: rgba(0, 0, 0, 0.45);
}

.header__input:focus {
}

@media screen and (max-width: 470px) {
    .header__input {
        font-size: 14px;
    }
}
